<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="bar-page">Bar Page</a></li>
    <li><a routerLink="foo-page">Foo Page</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
